@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-primary-base;
}

body {
  font-family: "Titillium Web", sans-serif;
  @apply text-gray-700;
}

.signika {
  font-family: "Signika", sans-serif;
}

.teko {
  font-family: "Teko", sans-serif;
}

.lalezar {
  font-family: "Lalezar", cursive;
}

.subtitle {
  @apply text-xl lg:text-3xl signika font-bold text-gray-800 relative pb-3 lg:pb-5 mb-8 lg:mb-12;
}

.subtitle:before {
  content: "";
  @apply h-1 absolute top-full left-0 w-24 lg:w-32 bg-gray-300;
}
.subtitle:after {
  content: "";
  @apply h-1 absolute top-full left-0 w-8 lg:w-12 bg-primary-base;
}

.w-16-9 {
  @apply relative overflow-hidden;
  padding-top: 56.25%;
}

.w-16-9 img {
  @apply absolute top-0 left-0 w-full h-full object-cover;
}

.loading {
  animation: loading 5s infinite;
}

@keyframes loading {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@layer utilities {
  .w-640 {
    width: 640px;
  }

  .w-768 {
    width: 768px;
  }

  .w-1024 {
    width: 1024px;
  }

  .w-1280 {
    width: 1280px;
  }
}
